@media (min-width: 992px) and (max-width: 1199.98px) {
  .main-content {
    margin-top: 30%;
  }
  .about-link {
    left: 85%;
    top: 55%;
  }
  .about-main {
    width: 100%;
    padding: 20px 10px !important;
    background: linear-gradient(90deg, #fdfdfd, #fdf3f3);
    padding-bottom: 50px !important;
  }
  .core-info .card-body h2 {
    font-size: 27px;
  }
  .contact-info {
    width: 94% !important;
    padding: 10px 4px;
    margin-top: -33% !important;
    margin-left: 8px !important;
  }
  .contact-call {
    font-size: 13px;
    margin-top: 10px;
  }
  .portfolio-main {
    width: 100%;
    padding-bottom: 60px !important;
    margin-top: 20px;
  }
  .services-main {
    padding: 50px 0px;
  }
  .healthcare-content .card {
    padding: 0px;
  }
  .icons-info i {
    font-size: 45px;
  }
  .healthcare-content .card h5 {
    margin: 10px 0px;
    font-size: 25px !important;
  }
  .quality-main {
    padding: 25px 0px;
  }
  .quality-main h2 {
    font-size: 35px;
    margin: 0px 0px;
  }
  .core-info {
    margin-top: 30px;
  }
  .core-main .card {
    padding: 20px 5px;
  }
  .core-info .card-body h2 {
    font-size: 23px;
  }
  .contact-img img {
    height: 717px;
  }
}

/* max-width 768px */
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-toggler {
    background: navy !important;
  }
  .navbar .navbar-nav .nav-item .nav-link i {
    color: black;
  }
  .nav-item i {
    color: black !important;
  }
  .navbar-toggler i {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
  }
  .main-page {
    height: 50vh;
  }
  .main-content {
    margin-top: 14%;
  }
  .main-content h1 {
    font-size: 55px;
  }
  .about-main {
    padding: 0px 0px !important;
    padding-bottom: 40px !important;
  }
  .about-info span {
    font-size: 20px;
  }
  .about-info h2 {
    font-size: 35px;
  }
  .about-img {
    padding: 9px 8px;
  }
  .about-bar {
    left: 58%;
    top: 84%;
  }
  .about-bar i {
    font-size: 25px;
  }
  .about-link {
    left: 88%;
    top: 45%;
  }
  .about-link i {
    font-size: 25px;
  }
  .portfolio-main {
    overflow: hidden;
    margin-top: 20px;
    width: 100%;
    padding-bottom: 50px !important;
  }
  .services-main {
    padding: 50px 0px;
  }

  .healthcare-content {
    padding: 10px 5px !important;
  }
  .healthcare-content .card {
    padding: 5px;
  }
  .icons-info i {
    font-size: 50px;
    margin-top: 20px;
  }
  .healthcare-content .card h5 {
    font-size: 24px !important;
  }

  .quality-main {
    padding: 0px 0px;
    padding-bottom: 60px;
  }
  .quality-main h2 {
    font-size: 34px;
    margin: 15px 0px;
  }
  .product-info {
    background: #fff;
    padding: 4px;
  }
  .product-img img {
    height: 250px !important;
    object-fit: cover;
  }

  .core-main h2 {
    font-size: 40px;
    margin-top: 20px;
  }
  .core-main .card {
    padding: 20px 12px;
    padding-bottom: 15px;
  }
  .core-main .card i {
    font-size: 35px;
  }
  .contact-right {
    padding: 10px 0px;
  }
  .form-info input {
    padding: 8px;
  }
  .contact-info {
    padding: 8px 2px;
    width: 100%;
    left: -39% !important;
  }
  .contact-img img {
    height: 593px !important;
    object-fit: cover;
  }
  .contact-call {
    font-size: 10px;
  }
  .contact-right h4 {
    font-size: 18px !important;
    margin-top: 6px;
  }
  .contact-right h2 {
    font-size: 25px !important;
    margin-top: 14px;
  }
  .form-btn button {
    padding: 5px 14px;
    margin-left: 8px;
  }

  .contact-info {
    padding: 8px 2px;
    width: 100%;
    left: -9% !important;
    bottom: 10px;
  }
  .last-para h4 {
    font-size: 16px !important;
    padding: 3px 3px;
  }
  .new-main {
    padding-bottom: 20px !important;
  }
  .news-btn a {
    padding: 10px;
    font-size: 16px;
  }
  .new-main h2 {
    font-size: 31px;
    margin-bottom: 15px;
  }
  .healthcare-content a {
    font-size: 16px;
  }
  .footer-main {
    padding-bottom: 45px !important;
  }
  .footer-content img {
    width: 186px;
  }
  .footer-content {
    margin-top: 22px;
  }
  .footer-main p {
    font-size: 16px;
    letter-spacing: 0px;
    margin-top: 2px;
  }
}

/* 360px */
@media (min-width: 360px) and (max-width: 480px) {
  .navbar-toggler {
    background: navy !important;
  }
  .navbar .navbar-nav .nav-item .nav-link i {
    color: black;
  }
  .nav-item i {
    color: black !important;
  }
  .navbar-toggler i {
    font-size: 30px;
    font-weight: bold;
    color: white;
  }
  .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0rem;
  }
  .main-page {
    height: 60vh;
  }
  .main-content {
    width: 100%;
    margin-top: 40%;
  }
  .main-content h1 {
    font-size: 45px;
  }
  .about-main {
    padding: 0px 10px !important;
  }
  .about-info span {
    font-size: 20px;
  }
  .about-info h2 {
    font-size: 31px;
    margin-top: 12px;
  }
  .about-img img {
    height: 50px;
    width: 120px;
    margin-left: 38px;
    margin-top: 35px;
  }
  .about-info {
    padding: 0px 0px !important;
    margin-bottom: 0px !important;
  }
  .about-bar {
    padding: 10px;
    left: 40%;
    top: 87%;
  }
  .about-bar i {
    font-size: 35px;
  }
  .about-link {
    padding: 10px;
    left: 84%;
    top: 45%;
  }
  .about-link i {
    font-size: 35px;
  }
  .portfolio-main {
    padding: 55px 0px !important;
  }
  .portfolio-main span {
    font-size: 20px;
  }
  .portfolio-main h2 {
    font-size: 28px;
    margin-top: 12px;
    margin-bottom: 5px;
  }
  .services-main {
    padding: 38px 0px;
  }
  .healthcare-content .card {
    padding: 10px;
  }
  .icons-info i {
    font-size: 50px;
    margin-top: 12px;
  }
  .healthcare-content .card h5 {
    margin: 10px 0px;
    font-size: 24px !important;
  }
  .healthcare-content {
    padding: 0px 0px !important;
    padding-bottom: 10px !important;
  }
  .healthcare-content a {
    padding: 8px 18px;
    font-size: 16px;
  }
  .healthcare-content {
    padding: 0px 0px !important;
  }
  .quality-main {
    width: 100%;
    padding: 0px 0px;
  }
  .quality-main h2 {
    font-size: 30px;
    text-align: center;
  }
  .quality-btn a {
    padding: 12px;
    font-size: 16px;
  }
  .quality-btn {
    text-align: center !important;
  }
  .product-main {
    padding: 30px 0px;
    margin-top: 35px;
  }
  .product-main h5 {
    font-size: 18px !important;
  }
  .product-main h2 {
    font-size: 25px;
    margin-top: 16px;
  }
  .product-info {
    padding: 8px;
    margin: 10px 0px;
  }
  .contact-main {
    padding-bottom: 30px !important;
    margin-top: -26px;
  }
  .core-main span {
    font-size: 18px;
  }
  .core-main h2 {
    font-size: 25px;
    margin-top: 12px;
  }
  .core-main .card {
    padding: 20px;
  }
  .core-main .card i {
    font-size: 35px;
  }
  .core-info .card-body h2 {
    font-size: 19px;
  }
  .contact-info {
    width: 96%;
    padding: 16px;
    margin-top: -22%;
    border-radius: 10px;
    margin-left: 7px;
  }
  .contact-right {
    margin-top: 30px;
  }
  .contact-right h4 {
    font-size: 18px !important;
  }
  .contact-right h2 {
    font-size: 25px !important;
  }
  .contact-main {
    padding-bottom: 30px !important;
  }
  .form-info {
    padding: 10px 5px;
  }
  .form-info input {
    padding: 11px;
  }
  .form-btn button {
    width: 94%;
    padding: 9px;
    margin-left: 10px;
    font-size: 16px;
  }
  .contact-right h4 {
    font-size: 15px !important;
  }
  .new-main {
    padding-bottom: 40px !important;
  }
  .news-btn a {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 16px;
  }
  .footer-main {
    padding-bottom: 45px !important;
  }
  .footer-content {
    margin-top: 0px;
    text-align: center;
  }
  .footer-content img {
    width: 240px;
    height: 90px;
  }
  .footer-next {
    margin-top: -35px;
    text-align: start;
  }
  .social-media {
    display: flex !important;
    justify-content: center !important;
  }
  .footer-main p {
    font-size: 16px;
    line-height: 28px;
    margin-top: 16px;
  }
  .footer-content h4 {
    padding-top: 16px;
    text-align: start;
  }
  .footer-last {
    height: 16vh;
  }
  .footer-last-content h6 {
    font-size: 16px !important;
    text-align: center;
  }
  .contact-img img {
    height: 400px;
  }
}
