* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #2d2d2f;
  font-weight: 600;
  font-size: 15px;
  transition: 0.5s ease;
  letter-spacing: 1px;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: navy;
  font-weight: 600;
}
/* Main Page */
.main-page {
  width: 100%;
  background-image: url(img/b3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.main-page::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: #00000082;
  position: absolute;
  z-index: 0;
}
.main-content {
  width: 65%;
  margin: auto;
  position: relative;
  margin-top: 20%;
}
.main-content h1 {
  font-size: 70px;
  z-index: 1;
  font-weight: bold;
  text-align: center;
  color: white;
}

/* ABOUT SECTION */
.about-main {
  width: 100%;
  padding: 95px 10px !important;
  background: linear-gradient(90deg, #fdfdfd, #fdf3f3);
}

.about-info span {
  font-size: 22px;
  color: #31a3bf;
  font-weight: bold;
}
.about-info h2 {
  font-size: 40px;
  color: #293256;
  font-weight: bold;
  margin-top: 20px;
}
.about-info p {
  font-size: 16px;
  color: #3f3f64 !important;
  line-height: 28px;
  margin-top: 20px;
  letter-spacing: 1px;
  font-weight: 500;
}
.about-info button {
  background: linear-gradient(135deg, #3199ff, #54c7ff);
  color: #fff;
  padding: 12px 26px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  border: none;
}
.about-info {
  position: relative;
}
.about-img {
  position: absolute;
  top: 45%;
  left: -48px;
}
.about-img img {
  border-radius: 10px !important;
}
.about-bar {
  position: absolute;
  background: #ddeefe;
  padding: 14px;
  left: 65%;
  top: 84%;
  border-radius: 12px;
}
.about-bar i {
  font-size: 60px;
  font-weight: bold;
  color: #4eccf5;
}
.about-link {
  position: absolute;
  background: #fff;
  padding: 15px;
  left: 93%;
  top: 63%;
  border-radius: 12px;
}
.about-link i {
  font-size: 40px;
  font-weight: bold;
  color: #4eccf5;
}
.about-info img {
  width: 100%;
  border-radius: 12px;
}
/* PORTFOLIO MAIN */
.divider {
  width: 100%;
  height: 1px;
  background-color: #e5e7eb;
}
.portfolio-main {
  width: 100%;
  padding-bottom: 100px !important;
}
.portfolio-main span {
  font-size: 22px;
  color: #31a3bf;
  font-weight: bold;
}
.portfolio-main h2 {
  font-size: 40px;
  color: #293256;
  font-weight: bold;
  margin-top: 10px;
}
.healthcare-contents {
  transition: transform 0.5s ease-in-out;
  margin-top: 25px;
}
.healthcare-contents .card {
  border-radius: 20px;
  overflow: hidden;
}
.healthcare-contents .card img {
  object-fit: cover;
}
.healthcare-contents:hover {
  transform: scale(0.99);
}
.healthcare-contents .card img {
  height: 250px;
}
.healthcare-contents p {
  font-size: 16px;
  color: #676767;
}
.card-body a {
  padding: 10px 20px;
  border: 1px solid #2828a4;
  box-shadow: 0px -2px 1px 0px #2828a4;
  font-weight: bold;
  color: #2828a4;
  border-radius: 12px;
}

/* SERVICES MAIN */
.services-main {
  width: 100%;
  background: #0b090a;
  padding: 80px 0px;
}
.healthcare-content .card {
  background: #fbfbfb;
  padding: 20px;
  transition: transform 0.5s ease-in-out;
}
.healthcare-content .card:hover {
  transform: scale(0.999);
}
.healthcare-content .card h5 {
  margin: 20px 0px;
  font-size: 30px !important;
  color: #848e8b;
}
.icons-info i {
  padding: 10px 20px;
  color: #688fc7;
  font-size: 60px;
  font-weight: 600;
  margin-top: 40px;
  margin-left: -35px;
}
.services-main p {
  font-size: 16px;
  line-height: 28px;
  color: #acb0af;
  font-weight: 500;
  letter-spacing: 0.6px;
}
.services-main .card-body {
  margin-bottom: 25px;
}

/* QUALITY SECTION */
.quality-main {
  width: 100%;
  padding: 50px 0px;
  padding-bottom: 60px;
}
.quality-main h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0a1f39;
  margin: 25px 0px;
}
.quality-btn a {
  padding: 15px;
  background-color: #0b1e3c;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  color: #e9f0fb;
  font-weight: bold;
}

.quality-icons i {
  background: #f4eed5;
  font-weight: bold;
  font-size: 30px;
  color: #0896ca;
  border-radius: 50%;
  width: 60px;
  height: 58px;
  padding: 11px;
}
.quality-section h4 {
  color: #2d3853;
}
.quality-section p {
  line-height: 28px;
  letter-spacing: 0.7;
  font-weight: 400;
  color: #8a8a8a;
}
.quality-info {
  padding: 8px 0px;
}
.quality-img img {
  border-radius: 12px;
  width: 100%;
  height: 330px;
  transition: transform 0.5s all ease-in-out;
  object-fit: cover;
}
.quality-img img:hover {
  transform: scale(0.9999);
}

/* PRODUCT CATEGORIES */
.product-main {
  width: 100%;
  background: #00223b;
  padding: 50px 0px;
  padding-bottom: 75px;
}
.product-main h5 {
  color: #ddf1f2;
  font-size: 17px;
  letter-spacing: 4px;
}
.product-main h2 {
  font-size: 38px;
  color: #fdfefb;
  letter-spacing: 4px;
  margin: 12px 0px;
}
.product-sec {
  margin-top: 30px !important;
}
.product-info {
  background: #fff;
  padding: 17px;
  border-radius: 6px;
  transition: transform 0.5s ease-in-out;
}
.product-info:hover {
  transform: scale(0.99);
}
.product-img img {
  width: 100%;
  height: 250px !important;
}
.product-content {
  width: 100%;
  margin-top: 7px;
}
.product-text h4 {
  margin-top: 14px;
  font-size: 22px !important;
  color: #353535;
}
.product-text i {
  margin-top: 6px;
  font-size: 22px !important;
  color: #3d3d3d;
  font-weight: bold;
}
/* CORE INFO SECTION */
.core-main {
  width: 100%;
  background: #f9f9f9;
  padding-bottom: 65px !important;
}
.core-main span {
  color: #31a3bf;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
}
.core-main h2 {
  font-size: 42px;
  font-weight: bold;
  color: #0a2139;
  letter-spacing: 2px;
  margin-top: 10px;
}
.core-info {
  margin-top: 60px;
}
.core-main .card {
  padding: 40px 20px;
  border-radius: 20px;
  transition: 0.5s ease;
  padding-bottom: 20px;
}
.core-main .card:hover {
  transform: scale(0.8);
}
.core-main .card i {
  font-size: 40px;
  color: #305380;
  padding: 5px 20px;
  font-weight: bold;
}
.core-info .card-body h2 {
  font-size: 25px;
  color: #555b70;
  font-weight: bold;
  letter-spacing: 2px;
  margin-top: 22px;
}
.core-info .card-body p {
  font-size: 16px !important;
  color: #a7a7a7;
  line-height: 28px;
  font-weight: 400;
}

/* CONTACT SECTION */
.contact-main {
  width: 100%;
  margin-top: 20px;
  padding-bottom: 70px !important;
  padding: 35px 0px;
}
.contact-left {
  position: relative;
}
.contact-img img {
  width: 100%;
  height: 693px;
  object-fit: cover;
  border-radius: 6px;
}
.contact-call p {
  margin: 0px 0px !important;
  color: white;
  font-weight: 500;
}
.contact-call {
  font-size: 15px;
  margin-top: 10px;
}
.contact-call i {
  color: white;
}
.contact-info {
  width: 89%;
  position: absolute;
  background: #6e87c7;
  padding: 10px;
  margin-top: -28%;
  margin-left: 20px;
  border-radius: 8px;
}
.contact-right {
  background: #00214c;
  padding: 30px 6px;
}
.contact-right h4 {
  color: #e0e8eb !important;
  font-size: 18px;
  margin-top: 10px;
  letter-spacing: 2px;
}
.contact-right h2 {
  color: #fffdfe;
  font-size: 30px;
  letter-spacing: 2px;
  margin-top: 17px;
}
.form-sec {
  margin-top: 30px;
}
.form-info {
  padding: 14px;
}
.form-info input {
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  border: none;
  outline: none;
}
.form-control {
  padding: 10px !important;
}
.form-btn button {
  width: 96%;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  margin-left: 14px;
}
.last-para h4 {
  color: #fafeff !important;
  margin-top: 16px !important;
  letter-spacing: 2px;
  padding: 25px 0px;
  display: inline-block;
  padding-bottom: 10px;
}
/* NEWS SECTION */
.new-main {
  width: 100%;
  background: #f7f7f7;
  padding: 30px 0px;
  padding-bottom: 45 !important;
}
.new-main h2 {
  color: #030303;
  font-size: 35px;
  margin-bottom: 23px;
}
.new-main .healthcare-content .card {
  padding: 0px;
  padding-bottom: 20px;
}
.new-main .healthcare-content .card img {
  object-fit: cover;
}
.new-main .healthcare-content .card .card-body h5 {
  font-size: 20px !important;
  color: #121214;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 10px 0px;
}
.new-main .healthcare-content .card .card-body p {
  color: #a0a0a0;
  font-weight: 500;
}
.news-btn {
  margin-top: 35px;
  height: 105px;
}

.news-btn a {
  padding: 13px 20px;
  font-size: 18px;
  color: white;
  font-weight: bold;
  background: #003384;
}

/* FOOTER-SECTION */
.footer-main {
  width: 100%;
  background: #00214c;
  padding-bottom: 120px !important;
}

.footer-main p {
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #cddee1 !important;
  margin-top: 10px;
  text-align: justify;
}
.footer-content {
  margin-top: 45px;
}
.footer-content h4 {
  font-size: 20px !important;
  color: #fefdfb !important;
  padding-top: 30px;
}
.footer-content img {
  width: 250px;
  height: 110px;
  object-fit: contain;
}
.footer-list {
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  margin-top: 30px;
  letter-spacing: 0.5;
}
.footer-list li {
  color: #cddee1;
}
.footer-btn button {
  padding: 10px 18px;
  font-size: 18px;
  color: rgb(29, 23, 23);
  font-weight: bold;
  background: #ace6d8;
}

/* FOOTER-LAST SECTION */
.footer-last {
  width: 100%;
  background: #355a84;
  padding: 15px 0px;
}
.footer-last-content h6 {
  font-size: 16px !important;
  margin-top: 10px;
  letter-spacing: 1px;
}
.social-media a {
  background: #fff;
  color: #b9b1b1;
  border-radius: 50%;
  font-size: 15px;
  padding: 7px 9px;
  font-weight: bold;
}
